.slider {
    display: flex;
    flex-direction: column;
    height: 50vh;
    border-left: solid grey 0.1em;
    padding: 5%;
}

.slider >p {
    font-weight: bold;
}

.slider >.slider-images{
    display: flex;
    flex-direction: row wrap;
    align-items: baseline;
}


