.slider {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.slider >p {
    font-weight: bold;
    height: 5%;
}

.slider >.slider-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}
