.search-page{
    display: flex;
}

.search-page > .main-content {
    display: flex;
    flex-direction: column;
    flex: 0 0 65vw;
    border-left: solid grey 0.1em;
}

.main-content > .autocomplete {
    align-self: center;
}

.search-page > .aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 0 15vw;
    padding: 1em;
}