.fac_img{
    float:left;
    padding: 10px;
}
.fac_img img {
    display: block;
    max-width:170px;
    max-height:270px;
    width: auto;
    height: auto;
    animation: opacityOn 1s normal forwards;
  }

.canvas {
    position: absolute;
    top: 350px;
    left: 701px;
    
}

.selection{
    width: 200;
    height: 200;
    position: absolute;
    top: 350px;
    left: 1200px;
    font-family: 'Junicode';
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
    
}
