.facsimile-page {
    display: flex;
    flex: 1;
}

.facsimile-page > .content {
    flex: 1;
    padding: 1em;
}

/*.facsimile-page > .aside {
    flex: 0 0 20vw;
    background: grey;
    padding: 1em;
}*/