.sub-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.sub-menu-item button {
    background-color: #000000;
    border: solid #841818 0.20em;
    border-radius: 15px;

}

.sub-menu-item button:hover{
    background-color: hsla(0, 0%, 0%, 0.8);
    cursor: pointer;
}

.sub-menu-item p{
    display: block;
    padding: 0 1em 0 1em;
    font-weight: normal;
    font-family: 'Trocchi', serif;
    letter-spacing: 0.2em;
    line-height: 0.7em;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #fafafa;
}