.footer {
    padding: 1em;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(3, 6, 53);
}

.footer .info, .copyright {
    color: white;
}

.footer img {
    max-width:12vw;
}