.canvas-page{
    display: flex;
    flex-direction: row;
}

.controls-buttons {
    display: flex;
    height: 3vh;
    order: 2;
}

.canvas-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding-top: 3em;
}

.textbox {
    display: flex; 
    flex: 0 0 25vw;
    font-family: Junicode;
    border: solid grey 1px;
    align-items: space-evenly;
    
}

.canvas-with-buttons {
    display: flex;
    flex: 0 0 35vw;
    justify-content: center;
    align-items: center;
}

