.canvas-page{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.controls-buttons > button, .direction-button, .rotate-buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    height: 4.5vh;
    font-size: 0.9em;
    background-color: #fafafa;
}

.show-button > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
    height: 5.5vh;
    font-size: 0.9em;
    background-color: #fafafa;
}

.controls-buttons > button:hover, .direction-button > i:hover, .rotate-buttons > button > i:hover, .show-button > i:hover{
    cursor: pointer;
}

.direction-button {
    background: none;
    border: none;
    font-size: 1.5em;
    padding: 2em;
}

.controls-buttons {
    display: flex;
    order: 2;
}

.show-button {
    display: flex;
    order: 0;
}

.controls-buttons img {
    width: 1.5vw;
    height: 3vh;
}

.controls-buttons >:first-child{
    background-color: #fafafa;
    border: solid #e0bb20 0.2em;
}

.rotate-buttons {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

.rotate-buttons > button {
    padding: 0;
}

.canvas-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding-top: 3em;
}

.multispectral-image {
    align-items: baseline;
    position: relative;
    right: 12%;
}

.canvas-with-buttons, .multispectral-image{
    display: flex;
    flex: 0 0 10vw;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3%;
}

